node_modules
dist
.output
.nuxt
.temp
.tmp
.cache
.idea
.vscode
*.swp
.DS_Store
*.log
coverage
.env
.env.*
!.env.example

# Nuxt
playground/.nuxt
playground/.output
test/fixtures/**/.nuxt
test/fixtures/**/.output
.vercel_build_output
.build-*
.netlify
.data

# Skilld references (recreated by `skilld install`)
.skilld
